tokyo -gangnam, ttle, rsaw - shinjuku/shibuya
emea-americas-asia-pacific
- not NEWYORK - wabi and wabisabi handle portfolio
<!doctype html><html lang="en"><head><meta charset="utf-8"/><link rel="icon" href="/logo.png"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/><meta name="theme-color" content="#000000"/>
    <meta name="description" content="gangnam dev
     English for enterprise  in New York."/>
     <meta property="og:title" content="gangnam dev"/>
     <meta property="og:description" content="gangnam korean dev
      English for enterprise  in New York."/>
     <meta property="og:type" content="website"/><meta property="og:image" content="/logo.png"/>
     <meta name="twitter:card" content="summary"/><meta name="twitter:title" content="english for devs"/>
     <meta name="twitter:description" content="Senior Software Engineer at Trinity Life Sciences. 
     english for devs."/><link rel="apple-touch-icon" href="/logo.png"/>
     <link rel="icon" type="image/png" sizes="32x32" href="/logo.png"/><link rel="manifest" href="/manifest.json"/>
     <title>english for devs</title><script defer="defer" src="/static/js/main.5225d423.js"></script>
     <link href="/static/css/main.052cf907.css" rel="stylesheet">
    </head>
    <body>
        <noscript>You need to enable JavaScript to run this app.</noscript>
        <div id="root"></div>
    </body>
    </html>